// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Icons8";
$icons8-font-path: "../fonts";

$icons8-var-unity-filled: "\f100";
$icons8-var-unreal-engine-filled: "\f101";
