<div class="container">
  <div class="user-details">
    <h3> What I do</h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Languages</h4>
      <img alt="" src="{{ "/assets/myFont/csharp.svg" | prepend: site.baseurl }}" />
      <img alt="" src="{{ "/assets/myFont/cplusplus.svg" | prepend: site.baseurl }}" />
      <img alt="" src="{{ "/assets/myFont/python.svg" | prepend: site.baseurl }}" />

      <p>Specialized in game programming and scripting languages</p>
    </div>
    <div class="four columns">
      <h4>Development</h4>
      <i class="icons8-unity-filled"></i>
      <i class="icons8-unreal-engine-filled"></i>
      <img alt="" src="{{ "/assets/myFont/haxe.svg" | prepend: site.baseurl }}" />
         
      <p>Main development tools that I use.</p>
    </div>
    <div class="four columns">
      <h4>Other Tools</h4>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <p>I use this tools daily. Mainly, Git for project collaboration and AWS for web app hosting and escalable servers.</p>
    </div>
  </div>
</div>
