<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="ponikve_airport" src="{{ "/assets/img/practice1.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Ancient Enviroment Creation </h5>
      <li> Level Designer and Programmer (UE4) </li>
      <p> This project is a practice for an student by request. It is a small game in first person and some streamed levels with multiple interactive objects. Everything wrapped in a dark atmosphere and snow. </p>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="ponikve_airport" src="{{ "/assets/img/ponikve.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Ponikve Airport Demo </h5>
      <li> Main Developer (Unity)</li>
      <p> Visual recreation of the Ponikve Airport. The scene uses real heightmaps and satellite textures of the zone. The app was proposed for a conference so it has points of interest split in different stages to explain it's reconstruction. </p>
    </div>
  </div>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="ladychristmas" src="{{ "/assets/img/ladychristmas.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Lady Christmas Mobile Game </h5>
      <li> Unique developer (Unity)</li>
      <p> Mobile game published to Play Store and Apps Store. It is a platform game based on Christmas. The main character is a Lady Santa Claus with differents moves (jumping, sliding and throwing snow balls). There are also interactive level objects and some AI enemies. Project for Wapmania S.L</p>
      <a class="project-link" href="https://play.google.com/store/apps/details?id=com.wapmania.ladyadventures.christmas&hl=es">Check it out</a>
    </div>
  </div>

</div>
