<div class="container">
  <div class="user-details">
    <h3> Publications </h3>
  </div>
<!--
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="reactive_programming" src="{{ "/assets/img/reactive_programming.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Introduction to Reactive Programming </h5>
      <li> Spanish Presentation at UGR </li>
      <p> Short introduction to <b>Reactive Extensions</b> to implement FRP in interactive applications. </p>
      <a class="project-link" href="http://slides.com/antoniomolner/intro_to_rx">Check it out</a>
    </div>
  </div>
-->

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="tango_bim" src="{{ "/assets/img/tango.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> BIM Model to Google Tango </h5>
      <li> Spanish Presentation at Madrid Google Campus</li>
      <p> How can a 3D model from BIM (Revit) be put over reality using Google Tango devices. <b>Workflow explanation</b>.</p>
      <a class="project-link" href="https://www.youtube.com/watch?v=8bCWp-i6-3w">Check it out</a>
    </div>
  </div>
</div>
